<form method="POST" action="/articles/<%=@article.id%>">
  <p>Article Title: <input type="hidden" name="_method" value="PATCH"> <input type="text" name="title"></p>
  <p>Article Content: <input type="hidden" name="_method" value="PATCH">  <input type="text" name="content"></p>
  <input type='submit' id="submit" >
</form>
