<form method="POST" action="/articles/<%=@article.id%>">
  <input type="hidden" name="_method" value="PATCH">
  <p>Article Title:  <input type="text" name="title"></p>
  <p>Article Content: <input type="hidden" name="_method" value="PATCH"> </p>
  <input type='submit' id="submit" >
</form>
